<select name="sorting" id="sort_by" class="form-select form-select-sm w-25">
	{% for option in collection.sort_options %}
	{% capture selected %}{% if option.value == collection.sort_by %}selected{% endif %}{% endcapture %}
	<option value="{{ option.value }}" {{selected}}>{{ option.name }}</option>
	{% endfor %}
</select>