<!-- /templates/customers/reset_password.liquid -->
<div class="container">
  <h1 class="lead py-3">Reset Password</h1>
  <div class="row">
    {% form 'reset_customer_password' %}
    {% render 'form-error', form: form %}
    <div class="col-12">
      <label for="active_password1" class="form-label">Password</label>
      <input class="form-control" type="password" name="customer[password]" id="activate_password1" size="16">
    </div>
    <div class="col-12">
      <label for="active_password2" class="form-label">Confirm Password</label>
      <input class="form-control" type="password" name="customer[password_confirmation]" id="activate_password2"
        size="16">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary w-100 rounded-0 mt-3">Reset Password</button>
    </div>
    {% endform %}
  </div>
</div>